.date-picker {
  margin-top: 5%;
}

.chevron,
.date-string {
  margin: 1px;
  text-align: center;
  background-color: #DAA520;
}

.row{
  text-align: center;
}

.dayChecker {
  margin: 1px;
  text-align: center;
  background-color:		#87CEEB ; 
}

.test {
  background-color: cyan;
}

.time-slot-component {
  margin-top: 50px;
}
