.date-picker {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 5%;
}
.date-header {
  display: flex;
}
.chevron {
  margin-top: 19px;
}
.fa-chevron-right {
  margin-left: 10px;
}
.fa-chevron-left {
  margin-right: 10px;
}
.date-row{
  display: flex;
}
.dayChecker {
   flex: 1 1 auto;
  border: 1px dotted black;
  margin: 1px;
  width: 50px;
  height: 50px;
  background-color: red;
}

.time-slot-column {
  height: 150px;
  overflow: scroll;
}

.time-slot-card {
  margin-top: 5%;
  width: 350px;
}
